@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }

body {
    padding:0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(247, 247, 247)
}

@media (max-width:640px){
    

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(197, 195, 195);
    display: flex;
    flex-flow: row nowrap;
    background-image: url(../img/1.jpg);
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
}

.titulo {
    color: green;
    letter-spacing: 3px;
    /* padding: 0px 0px 0 20px;
    width: 300px; */
    text-shadow:#000000d9 1px 1px 0px;
}


.logo {
   font-size: 30px;
   text-shadow: 0 1px 0 #ffffff; 
}

nav {
    /* margin-top: 40px; */
    /* padding: 24px; */
    text-align: center;
    font-family: Nunito;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }

#nav-3 {
    background: #3fa46a;
    padding: 8px 0;
  }

  .link-3 {
    transition: 0.4s;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    /* padding: 0 10px; */
    padding: 0 10px;
    margin: 0 -3px;  
}
  .link-3:hover {
    background-color: #ffffff;
    color: #3fa46a;
    padding: 8px 10px;
  }  

.inicio {
    background-image: url(../img/2.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;

}  

.uno {
    width: 85%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.918);
    box-shadow: 0 0 11px 0px rgba(101, 101, 101, 0.53);
    border-radius: 10px;
    margin: auto;
    padding: 0px 15px;
}  
.nos {
    text-align: center;
    padding: 10px 0;
}

p {
    margin: 0 8px;
}
.menu-fixed {
    position:fixed;
    z-index:1000;
    top:0;
    /* max-width:1000px; */
    width:100%;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
} 
.ofi {
    background-color: #ffffff;
    padding: 5px 10px 0px 10px;
    margin:2px;
    display: inline;  
}

.ofi img{
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 18px;
    margin: 5px;
    box-shadow: #6f6a6a 2px 2px 10px;
}

.nos img{
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 18px;
    margin: 5px;
    box-shadow: #6f6a6a 2px 2px 10px;
}

/*FORMULARIO*/
.final {
    display: flex;
    justify-content: center;
  margin:1px 12px;
  width:auto;
  height: auto;
  margin-top: 21px;

}

#form {
    /* display: inline-grid; */
    border: #00000054 1px solid;
    padding: 10px;
    border-radius: 18px;
    /* height: 350px; */
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 11px 0px rgba(101, 101, 101, 0.53);
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
    text-shadow: 2px 2px 4px grey;
    
  }

  input, textarea {
    width:330px;
    height:33px;
    background:rgba(255, 255, 255, 0.62);
    border:0px solid #d4d1d1;
    padding:10px;
    margin-top:5px;
    font-size:14px;
    font-family: 'Nunito', sans-serif;
    color:rgb(61, 61, 61);
    border-radius: 6px ;
    box-shadow: 1px 1px 4px 1px #9a9a9a;
    transition: all .3s ease-out;
    
  }

  textarea:hover {
    background:#91909044;
    box-shadow: 2px 2px 12px rgb(207, 207, 207);
  }
  
  input:hover {
    background:#91909044;
    box-shadow: 2px 2px 12px rgb(207, 207, 207);
  }
  
  textarea {
    height:150px;
    font-family: 'Nunito', sans-serif;
  }
  
  #submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    border:0px solid #d4d1d1;
  }

 /* EDITAR EL TEXTO DEL PIE */
/* Div DEL PIE */
.pie {
    background-color: #3fa46a;
    color: white;
    width:100%;
    height:80px;
    margin: 0;
    margin-top:0;
    /* padding-top: 10px; */
  } 

.txtpie {
    /* width: 265px; */
    letter-spacing: 1px;
    text-align: center;
    transition: all .3s ease-out;
  }
  
  h3.txtpie:hover {
    transform: translate(0, 5px);
  }
  
  #linkpie {
    text-decoration: none;
      color: rgb(255, 255, 255);
  }

  .fn {
      text-decoration: none;
      font-size: 15px;
      color: rgb(235, 233, 233);
  }
  
  /* FIN DEL TEXTO DEL PIE */ 

}


  /* PARA TABLET */

@media(min-width:640px)  {
    /*ESTE CÓDIGO ES PARA AGRANDAR LAS LETRAS, NO CAMBIA EN NADA EL MENÚ, SI GUSTAN PUEDEN BORRARLO NOrMAL*/
    .header {
        width: 100%;
        height: 150px;
        background-color: rgb(197, 195, 195);
        display: flex;
        flex-flow: row nowrap;
        background-image: url(../img/1.jpg);
        background-size: cover;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .titulo {
        color: green;
        letter-spacing: 3px;
        /* padding: 0px 0px 0 20px;
        width: 300px; */
        text-shadow:#000000d9 1px 1px 0px;
    }
    
    
    .logo {
       font-size: 30px;
       text-shadow: 0 1px 0 #ffffff; 
    }
    
    nav {
        /* margin-top: 40px; */
        padding: 24px;
        text-align: center;
        font-family: Nunito;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      }
    
    #nav-3 {
        background: #3fa46a;
      }
    
      .link-3 {
        transition: 0.4s;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        padding: 0 10px;
        margin: 0 10px;
      }
      .link-3:hover {
        background-color: #ffffff;
        color: #3fa46a;
        padding: 24px 10px;
      }

      .inicio {
        background-image: url(../img/2.jpg);
        width: 100%;
        height: 300px;
        background-size: cover;
        
    } 

      .uno {
        width: 85%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.918);
        box-shadow: 0 0 11px 0px rgba(101, 101, 101, 0.53);
        border-radius: 10px;
        margin: auto;
        padding: 0px 15px;
    }  
    .nos {
        text-align: center;
        padding: 15px 0;
    }
    
    p {
        margin: 0 8px;
    }  
    .menu-fixed {
        position:fixed;
        z-index:1000;
        top:0;
        /* max-width:1000px; */
        width:100%;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
    }     
    .ofi {
        background-color: #ffffff;
        padding: 0px 10px 0px 10px;
        margin:2px;
        display: inline;  
    }
    .ofi img{
        width: 40%;
        height: auto;
        margin: auto;
        border-radius: 18px;
        box-shadow: #6f6a6a 2px 2px 10px;
        margin: 5px;
    }
    .nos img{
        width: 45%;
        height: auto;
        margin: auto;
        border-radius: 18px;
        box-shadow: #6f6a6a 2px 2px 10px;
        margin: 5px;
    }
/*FORMULARIO*/
.final {
    display: flex;
    justify-content: center;
  margin:1px 12px;
  width:auto;
  height: auto;
  margin-top: 21px;

}

#form {
    /* display: inline-grid; */
    border: #00000054 1px solid;
    padding: 10px;
    border-radius: 18px;
    /* height: 350px; */
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 11px 0px rgba(101, 101, 101, 0.53);
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
    text-shadow: 2px 2px 4px grey;
    
  }

  input, textarea {
    width:330px;
    height:33px;
    background:rgba(255, 255, 255, 0.62);
    border:0px solid #d4d1d1;
    padding:10px;
    margin-top:5px;
    font-size:14px;
    font-family: 'Nunito', sans-serif;
    color:rgb(61, 61, 61);
    border-radius: 6px ;
    box-shadow: 1px 1px 4px 1px #9a9a9a;
    transition: all .3s ease-out;
    
  }

  textarea:hover {
    background:#91909044;
    box-shadow: 2px 2px 12px rgb(207, 207, 207);
  }
  
  input:hover {
    background:#91909044;
    box-shadow: 2px 2px 12px rgb(207, 207, 207);
  }
  
  textarea {
    height:150px;
    font-family: 'Nunito', sans-serif;
  }
  
  #submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    border:0px solid #d4d1d1;
  }

 /* EDITAR EL TEXTO DEL PIE */
/* Div DEL PIE */
.pie {
    background-color: #3fa46a;
    color: white;
    width:100%;
    height:80px;
    margin: 0;
    margin-top:0;
    /* padding-top: 10px; */
  } 

.txtpie {
    /* width: 265px; */
    letter-spacing: 1px;
    text-align: center;
    transition: all .3s ease-out;
  }
  
  h3.txtpie:hover {
    transform: translate(0, 5px);
  }
  
  #linkpie {
    text-decoration: none;
      color: rgb(255, 255, 255);
  }

  .fn {
      text-decoration: none;
      font-size: 15px;
      color: rgb(235, 233, 233);
  }
  
  /* FIN DEL TEXTO DEL PIE */ 

}



/* PARA PC */

@media(min-width:860px){

    .header {
        width: 100%;
        height: 150px;
        background-color: rgb(197, 195, 195);
        display: flex;
        flex-flow: row nowrap;
        background-image: url(../img/1.jpg);
        background-size: cover;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .titulo {
        color: green;
        letter-spacing: 3px;
        /* padding: 0px 0px 0 20px;
        width: 300px; */
        text-shadow:#000000d9 1px 1px 0px;
    }
    
    
    .logo {
       font-size: 30px;
       text-shadow: 0 1px 0 #ffffff; 
    }
    
    nav {
        /* margin-top: 40px; */
        padding: 24px;
        text-align: center;
        font-family: Nunito;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      }
    
    #nav-3 {
        background: #3fa46a;
      }
    
      .link-3 {
        transition: 0.4s;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        padding: 0 10px;
        margin: 0 10px;
      }
      .link-3:hover {
        background-color: #ffffff;
        color: #3fa46a;
        padding: 24px 10px;
      }

      .inicio {
        background-image: url(../img/2.jpg);
        width: 100%;
        height: 300px;
        background-size: cover;
        
    } 
      .uno {
        width: 85%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.918);
        box-shadow: 0 0 11px 0px rgba(101, 101, 101, 0.53);
        border-radius: 10px;
        margin: auto;
        padding: 0px 15px;
    }  
    .nos {
        text-align: center;
        padding: 15px 0;
    }
    
    p {
        margin: 0 8px;
    }
    .menu-fixed {
        position:fixed;
        z-index:1000;
        top:0;
        /* max-width:1000px; */
        width:100%;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
    }    

    .ofi {
        background-color: #ffffff;
        padding: 5px 10px 0px 10px;
        margin:2px;
        display: inline;  
    }
    
    .ofi img {
        width: 45%;
        
    }

    .nos img {
        border-radius: 8px;

    }

}

